body {
    background-image: linear-gradient(to bottom, rgb(60, 88, 248), rgb(125, 6, 129));
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
    font-size: xx-large;
    text-align: center;
}
input {
    width: 200px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    font-size: large;
}
button {
    width: 90px;
    height: 35px;
    border-radius: 15px;
    font-size: medium;
}
.deslogar{
    font-size: large;
    margin-top: 450px;
}
.container {
    display: flex;
    background-image: linear-gradient(to bottom, rgb(60, 88, 248), rgb(125, 6, 129));
    border: solid;
    margin: auto;
    border-width: 2px;
}

.login {
    flex: 1;
}

.registrar {
    flex: 1;
    border: solid;
    border-width: 0.1px;
}