@import url('https://fonts.cdnfonts.com/css/bogart');

@keyframes brilho {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

body {
    font-family: 'Bogart', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: xx-large;
    text-align: center;
    background-color: #DF957B;
}
input {
    width: 200px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    font-size: large;
    background-color: rgba(255, 228, 196, 0.205);
}
button {
    width: 90px;
    height: 35px;
    border-radius: 15px;
    font-size: medium;
    background-color: rgba(255, 228, 196, 0.205);
}
.deslogar{
    font-size: large;
    margin-top: 450px;
}
.container {
    display: flex;
    margin: auto;
    background-color: #DF957B;
    margin-bottom: 200px;
}

.login {
    flex: 1;
    color: #A34848;
    background-color: #F5ECEA;
    border-width: 1px;
    border: solid;
}

.registrar {
    flex: 1;
    color: #A34848;
    background-color: #F5ECEA;
    border-width: 1px;
    border: solid;
}
.h1{
    margin-top: 120px;
}
